.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: #005cbb;
    color: #005cbb;
    cursor: pointer;
  }